@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap');

/* 
font-family: 'Fredoka One', cursive;
font-family: 'Varela Round', sans-serif; 
*/


*, *::before, *::after {
    box-sizing: border-box;
   }

body {
    font-family:'Varela Round', sans-serif;
  
    color : white;
    letter-spacing: .15rem;
    cursor: default;
}
.flex{
    display: flex;
}

#game-area {
    width: 1000px;
    height: 700px;
    background:url('img/background.png');
    margin: 0 auto;
}
#ui {
    font-family: 'Fredoka One', cursive;
    width: 950px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    justify-content: space-around;
    letter-spacing: .3rem;
}
#ui div{
    width: 30%;
    font-size: 2.5rem;
    padding: 0 20px 0;
    -webkit-text-stroke: 1px rgb(129, 136, 156);
    
}
#ui div p {
    padding-left: 50px;
    padding-top: 5px;

}
#game-mode {
    text-align: center;
    letter-spacing: .15rem;
}
#buy-area {
    width: 950px;
    height: 100px;
    background-color: green;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: flex;
}
.buyplant {
    width: 100px;
    height: 70px;
    margin: 10px 0 5px 10px;
    background: aliceblue;
    visibility: hidden;
}
.buyplant div {
    width: 100px;
    height: 70px;
    background: aliceblue;
}
#grow-area {
    font-family: 'Fredoka One', cursive;
    width: 800px;
    height: 350px;
    background: url(img/growarea.png);
    margin: 0 auto;
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.plot {
    width: 160px;
    height: 175px;
    position: relative;
}
.plot .econ-ui {
    text-align: center;
    position: absolute;
    top: 90px;
    left:15px;
    text-shadow: -2px 0 rgb(129, 136, 156), 0 2px rgb(129, 136, 156), 2px 0 rgb(129, 136, 156), 0 -2px rgb(129, 136, 156);
}
.plot .econ-ui p {
    padding-bottom: 8px;
    font-size: 2rem;
}
.plot .growth {
    height: 10px;
    width: 130px;
    background: #fab;
    text-align: left;
    position: relative;
    top: -15px;
    border: 1px solid white;
    visibility: visible;
}
.sell {
    position: relative;
    top: -15px;
}
.buy {
    position: relative;
    top: 25px;
}
.growth span {
    width:0%;
    height: 10px;
    background-color: greenyellow;
    display: block;
    max-width: 130px;
    border: 1px solid white;
    position: relative;
    top:-1px;
    
}
.daisy {
    background: url('img/daisyplot.png');
    width: 150px;
    height: 155px;
    margin: 0 auto;
}
.tulip {
    background: url('img/tulipplot.png');
    width: 150px;
    height: 155px;
    margin: 0 auto;
}

.sell{
    visibility: hidden;
}
.alert {
    position: absolute;
    top: 60px;
    left: 0;
    width: 150%;
}
p::selection, div::selection, span::selection {
    background: transparent;
}

.bottom-ui {
    position: relative;
    top: 150px;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    font-weight: bold;
}
.bottom-ui div {
    width: 50%;
    font-size: 2.5rem;
    text-shadow: -2px 0 rgb(129, 136, 156), 0 2px rgb(129, 136, 156), 2px 0 rgb(129, 136, 156), 0 -2px rgb(129, 136, 156); 
}